@charset "UTF-8";
        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }

        
        .navbar {
            background-color: #f6f6f6;
            padding: 10px;
            display: flex;
            justify-content: center; /* 중앙 정렬 */
            align-items: center;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
            margin-top: 100px; /* 위에서 100px 아래로 배치 */
        }

        .navbar a {
            margin: 0 15px; /* 링크 사이의 간격을 15px로 설정 */
            text-decoration: none; /* 링크 밑줄 제거 */
            color: #000; /* 링크 색상 설정 */
            font-size: 20px;
            position: relative;
            margin-left:60px;
            margin-right:60px;
        }

        .navbar a:hover {
            color: #007BFF;
        }

        .navbar a:not(:last-child)::after {
            content: '|';
            position: absolute;
            right: -60px;
            color: #000;
        }

        .footer {
            background-color: #f8f9fa;
            padding: 20px;
            text-align: center;
            margin-top: 20px;
        }
        
        .logo {
    position: absolute;
    top: 30px;
    left: 30px;
}