#page_header .p_header2 {
   clear: both;
   float: left;
   width: 925px;
   height: 42px;
}
#page_header .p_header2 ul {
   list-style-type: none;
   margin: 0px;
   padding: 0px;
}
#page_header .p_header2 ul li a {
   margin: 0px;
   padding: 0px;
   float: left;
   display: block;
}
@charset "UTF-8";